{block content}
<div id="banner">
	<h1 n:block=title>Přehled produktů</h1>
</div>
{$categories|noescape}

{if count($products)}
	{var $i = 1}
	{var $j = 1}
	{foreach $products as $product}
		{if $i == 1}
			<div class="row">
		{/if}
		<div class="col-lg-4">
			<h2><a n:href="Homepage:detail $product->id">{$product->name}</a></h2>
			<img src="/img/products/{$product->image}" alt="{$product->name}" width="300">
		</div>
		{php $i++}
		{if $i == 4 || count($products) < $j*3 && $i > 3}
			{php $i = 1}
			{php $j++}
			</div>
		{/if}
	{/foreach}
{else}
	<h2>Neexistují žádné produkty</h2>
{/if}

{/block}
