{block content}
<a n:href="Homepage:">Zpět na hlavní stránku</a>
<h1 n:block="title">{$product->name}</h1>
<img src="/img/products/{$product->image}" alt="{$product->name}" width="300">
{ifset $product->color}
	<h2>Barva: {$product->color}</h2>
{/ifset}
<h2>Cena: {$product->price} Kč</h2>
<h2>Popis</h2>
<p>{$product->description}</p>
<h3>Máte dotaz? Napište nám:</h3>
{control questionForm}
{/block}