{block content}

<h1 n:block="title">Databáze produktů</h1>
<a n:href="Admin:create" class="btn btn-info" role="button">Vytvořit nový produkt</a>
<h2>Výpis produktů</h2>

{include table.latte}

<h2>Vyhledávání</h2>

{control searchForm}

{/block}