<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>Jméno</th>
				<th>Popis</th>
				<th>Cena</th>
				<th>Barva</th>
				<th>Vytvořeno</th>
				<th>Upraveno</th>
				<th>Akce</th>
			</tr>
		</thead>
		<tbody>
		{foreach $products as $product}
			<tr>
				<td>{$product->name}</td>
				<td>{$product->description|truncate:50}</td>
				<td>{$product->price} Kč</td>
				<td>{isset($product->color) ? $product->color : 'N/A'}</td>
				<td>{$product->created_at|date: 'd.m.Y H:i:s'}</td>
				<td>{$product->updated_at|date: 'd.m.Y H:i:s'}</td>
				<td><a n:href="Admin:update $product->id">Upravit</a><a n:href="Admin:delete $product->id">Smazat</a></td>
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>
